#formulaire{
	
}
form{
	display:flex;
	 justify-content: center;
	 
}
.flexbox{
	display:flex;
	justify-content: space-between;
	margin:10px;
}
.orientation{
	width: auto;
}
h2{
	text-align: center;
}
input{
	 height: 20px;
  	width: 130px;

}
.button{
	width:170px;
	height: 40px;
}
